import net.orpiske.ssps.common.repository.utils.InstallDirUtils;
import net.orpiske.sdm.common.WorkdirUtils;
import net.orpiske.sdm.lib.io.IOUtil;
import net.orpiske.sdm.packages.BinaryPackage;

import static net.orpiske.sdm.lib.net.Downloader.*;
import static net.orpiske.sdm.lib.Unpack.*;
import static net.orpiske.sdm.lib.OsUtils.*;
import static net.orpiske.sdm.lib.Executable.*;

import static net.orpiske.sdm.lib.Core.*;

class Spm extends BinaryPackage {
	def version = "${packageproperties.version}"
	def name = "${packageproperties.name}"
	def url = "http://orpiske.net/ssps/files/net/orpiske/${name}/${version}/${name}-${version}-bin.tar.bz2"

	void install() {
		performInstall("${name}", "${version}")
		
		println "Installing ${workDir}/${name}-${version} to ${installDir}"
		
		if (isNix()) {
			println "Creating symlinks"
			exec("/bin/ln", "-sf ${installDir}/${name}-${version} ${installDir}/${name}")
		}
	}

	void uninstall() {
		if (isNix()) {
			println "Removing symlinks"
			exec("/bin/unlink", "${installDir}/${name}")
		}
	}
	
}